<!--
      Project: Create a website for Precious Window & Door Dorp.
      
      This is the Home page for Precious Window & Door Corp. Website 

      Author: Li
      Date:   12/10/2017

      Filename: index.html
   -->
   
 <!doctype html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Precious Window & Door Corp</title>
	<!-- Bootstrap compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="modernizr.custom.65897.js"></script>
	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Arvo|Lobster|Merriweather|Rozha+One|Lobster+Two|Noto+Sans|PT+Serif" rel="stylesheet">
	<!-- Local stylesheet -->
	<link rel="stylesheet" href="css/styles.css">
 </head>
 <body>
	<div class="container">
		<!-- Use the header area for the website name or logo -->
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">Precious Window & Door</a>
			</div>
			<!-- Use the nav area to add hyperlinks to other pages within the website -->
			<div>
				<ul class="nav navbar-nav", id="menu">
					<li class="active"><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="product.html">Products</a></li>
					<li><a href="service.html">Services</a></li>
					<li><a href="project.html">Projects</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right desktop">
					<li><a href="#" style="color:#FF8C00;"><span class="glyphicon glyphicon-earphone"></span><strong>Call Us Now 917-528-6526</strong></a></li>
 				</ul>
			</div>
		</nav>
	
		<!-- Home Page Banner -->
		<div id="banner" class="desktop">
			<img src="images/homeBanner.jpg" alt="New Window Installation Picture" width="1200" height="600" >
		</div>
		
		<!-- Use the main area to add the main content of the page -->
		<main>
		
			
		</main> 
		
		<!-- Use the footer area to add the footer content -->
		<footer>
			<div id="copyright">
				<p>&copy; Copyright 2017. All Rights Reserved.
				<br>
				<a href="mailto:jeannie@preciouswindow.com">Info@Preciouswindow.com</a></p>
			</div>
			<div id="social">
				<p>Connect with us:
				<a href="https://www.facebook.com/jeannie.lai.1?fref=search"><img src="images/fblogo.png" alt="Facebook logo"></a></p>
			</div>	
		</footer> 
	</div>
 </body>
 </html>